{
  "openapi": "3.1.0",
  "info": {
    "title": "ReelMirror API",
    "description": "AI-powered content cloning platform. Create personas, track social accounts, sync content, and generate AI clones.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://reelmirror.com/api"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key (rm_xxx) or JWT token"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": ["VALIDATION_ERROR", "UNAUTHORIZED", "INSUFFICIENT_BALANCE", "FORBIDDEN", "NOT_FOUND", "CONFLICT", "RATE_LIMITED", "INTERNAL_ERROR", "UPSTREAM_ERROR", "SERVICE_UNAVAILABLE"]
              },
              "message": { "type": "string" },
              "details": { "type": "object" }
            },
            "required": ["code", "message"]
          }
        }
      },
      "Persona": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "name": { "type": "string" },
          "description": { "type": "string", "nullable": true },
          "writing_style": { "type": "string", "nullable": true },
          "avatar_url": { "type": "string", "nullable": true },
          "voice_sample_url": { "type": "string", "nullable": true },
          "discount_mode": { "type": "boolean" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "Source": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "creator_id": { "type": "string", "format": "uuid" },
          "platform": { "type": "string", "enum": ["instagram", "tiktok"] },
          "username": { "type": "string" },
          "status": { "type": "string" },
          "last_synced_at": { "type": "string", "format": "date-time", "nullable": true },
          "content_count": { "type": "integer" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "GeneratedPost": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "persona_id": { "type": "string", "format": "uuid" },
          "source_post_id": { "type": "string", "format": "uuid" },
          "status": { "type": "string", "enum": ["pending", "generating", "completed", "failed"] },
          "caption": { "type": "string", "nullable": true },
          "media_items": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/GeneratedMediaItem" }
          },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "GeneratedMediaItem": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "media_type": { "type": "string", "enum": ["image", "video"] },
          "position": { "type": "integer" },
          "status": { "type": "string", "enum": ["pending", "generating", "completed", "failed"] },
          "url": { "type": "string", "nullable": true },
          "is_public": { "type": "boolean" },
          "discount_applied": { "type": "boolean" },
          "voice_conversion_status": { "type": "string", "nullable": true },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "SyncJob": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "status": { "type": "string", "enum": ["pending", "running", "completed", "failed", "skipped"] },
          "creator": {
            "type": "object",
            "properties": {
              "handle": { "type": "string" },
              "platform": { "type": "string" }
            }
          },
          "estimated_cost_cents": { "type": "integer" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "Balance": {
        "type": "object",
        "properties": {
          "balance_cents": { "type": "integer" },
          "balance_dollars": { "type": "string" },
          "auto_reload": { "type": "boolean" },
          "reload_threshold_cents": { "type": "integer", "nullable": true },
          "reload_amount_cents": { "type": "integer", "nullable": true }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "amount_cents": { "type": "integer" },
          "operation_type": { "type": "string" },
          "description": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "generated_post_id": { "type": "string", "format": "uuid", "nullable": true },
          "generated_media_item_id": { "type": "string", "format": "uuid", "nullable": true },
          "refund_of_id": { "type": "string", "format": "uuid", "nullable": true }
        }
      }
    },
    "parameters": {
      "limit": {
        "name": "limit",
        "in": "query",
        "schema": { "type": "integer", "default": 20, "maximum": 100 },
        "description": "Maximum number of results to return"
      },
      "offset": {
        "name": "offset",
        "in": "query",
        "schema": { "type": "integer", "default": 0 },
        "description": "Number of results to skip"
      }
    }
  },
  "tags": [
    { "name": "API Keys", "description": "Manage API keys" },
    { "name": "Personas", "description": "Create and manage personas" },
    { "name": "Sources", "description": "Track social accounts" },
    { "name": "Sync", "description": "Sync content from sources" },
    { "name": "Generation", "description": "Generate AI content" },
    { "name": "Content", "description": "Browse synced and generated content" },
    { "name": "Billing", "description": "Balance and transaction history" },
    { "name": "Uploads", "description": "Upload files" }
  ],
  "paths": {
    "/v1/api-keys": {
      "post": {
        "tags": ["API Keys"],
        "summary": "Create API key",
        "operationId": "createApiKey",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": { "type": "string", "description": "Display name for the key" },
                  "scopes": {
                    "type": "array",
                    "items": { "type": "string" },
                    "description": "Permission scopes. Defaults to all except billing:read."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key created. The full key is only returned once.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "name": { "type": "string" },
                    "key": { "type": "string", "description": "Full API key (only shown once)" },
                    "scopes": { "type": "array", "items": { "type": "string" } },
                    "created_at": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["API Keys"],
        "summary": "List API keys",
        "operationId": "listApiKeys",
        "responses": {
          "200": {
            "description": "List of API keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "name": { "type": "string" },
                          "key_hint": { "type": "string" },
                          "scopes": { "type": "array", "items": { "type": "string" } },
                          "created_at": { "type": "string", "format": "date-time" },
                          "last_used_at": { "type": "string", "format": "date-time", "nullable": true }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/api-keys/{key_id}": {
      "delete": {
        "tags": ["API Keys"],
        "summary": "Delete API key",
        "operationId": "deleteApiKey",
        "parameters": [
          { "name": "key_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Key deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "id": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/personas": {
      "post": {
        "tags": ["Personas"],
        "summary": "Create persona",
        "operationId": "createPersona",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name"],
                "properties": {
                  "name": { "type": "string" },
                  "description": { "type": "string" },
                  "writing_style": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Persona created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "data": { "$ref": "#/components/schemas/Persona" } }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Personas"],
        "summary": "List personas",
        "operationId": "listPersonas",
        "parameters": [
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/offset" }
        ],
        "responses": {
          "200": {
            "description": "List of personas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/Persona" } },
                    "count": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/personas/{persona_id}": {
      "get": {
        "tags": ["Personas"],
        "summary": "Get persona",
        "operationId": "getPersona",
        "parameters": [
          { "name": "persona_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Persona details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "data": { "$ref": "#/components/schemas/Persona" } }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": ["Personas"],
        "summary": "Update persona",
        "operationId": "updatePersona",
        "parameters": [
          { "name": "persona_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string" },
                  "description": { "type": "string" },
                  "writing_style": { "type": "string" },
                  "discount_mode": { "type": "boolean" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Persona updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "data": { "$ref": "#/components/schemas/Persona" } }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Personas"],
        "summary": "Delete persona",
        "operationId": "deletePersona",
        "parameters": [
          { "name": "persona_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Persona deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "status": { "type": "string" }, "id": { "type": "string" } }
                }
              }
            }
          }
        }
      }
    },
    "/v1/personas/{persona_id}/sources": {
      "post": {
        "tags": ["Sources"],
        "summary": "Add source",
        "operationId": "addSource",
        "parameters": [
          { "name": "persona_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["platform", "username"],
                "properties": {
                  "platform": { "type": "string", "enum": ["instagram", "tiktok"] },
                  "username": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Source added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "data": { "$ref": "#/components/schemas/Source" } }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Sources"],
        "summary": "List sources",
        "operationId": "listSources",
        "parameters": [
          { "name": "persona_id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/offset" }
        ],
        "responses": {
          "200": {
            "description": "List of sources",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/Source" } },
                    "count": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/personas/{persona_id}/sources/{source_id}": {
      "delete": {
        "tags": ["Sources"],
        "summary": "Remove source",
        "operationId": "removeSource",
        "parameters": [
          { "name": "persona_id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "source_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Source removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "status": { "type": "string" }, "id": { "type": "string" } }
                }
              }
            }
          }
        }
      }
    },
    "/v1/personas/{persona_id}/sync": {
      "post": {
        "tags": ["Sync"],
        "summary": "Trigger sync",
        "description": "Sync all sources for a persona. Debits balance for estimated API requests. Returns job IDs for status polling.",
        "operationId": "triggerSync",
        "parameters": [
          { "name": "persona_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "202": {
            "description": "Sync started",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "persona_id": { "type": "string" },
                    "sources_count": { "type": "integer" },
                    "job_ids": { "type": "array", "items": { "type": "string" } },
                    "estimated_cost_cents": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/sync-jobs/{job_id}": {
      "get": {
        "tags": ["Sync"],
        "summary": "Get sync job status",
        "operationId": "getSyncJob",
        "parameters": [
          { "name": "job_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Sync job status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "data": { "$ref": "#/components/schemas/SyncJob" } }
                }
              }
            }
          }
        }
      }
    },
    "/v1/generate": {
      "post": {
        "tags": ["Generation"],
        "summary": "Generate from source post",
        "description": "Trigger AI content generation from a synced source post. Debits balance per media item + caption.",
        "operationId": "generate",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["source_post_id", "persona_id"],
                "properties": {
                  "source_post_id": { "type": "string", "format": "uuid" },
                  "persona_id": { "type": "string", "format": "uuid" }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Generation started",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "generated_post_id": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/generate/media-item": {
      "post": {
        "tags": ["Generation"],
        "summary": "Regenerate media item",
        "description": "Create a new version of a generated media item.",
        "operationId": "regenerateMediaItem",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["generated_media_item_id"],
                "properties": {
                  "generated_media_item_id": { "type": "string", "format": "uuid" }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Regeneration started",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "generated_media_item_id": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/generate/voice-convert": {
      "post": {
        "tags": ["Generation"],
        "summary": "Voice convert video",
        "description": "Apply voice conversion to a completed generated video. Requires persona to have a voice sample.",
        "operationId": "voiceConvert",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["generated_media_item_id"],
                "properties": {
                  "generated_media_item_id": { "type": "string", "format": "uuid" }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Voice conversion started",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "generated_media_item_id": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/generate/toggle-public": {
      "post": {
        "tags": ["Generation"],
        "summary": "Toggle public visibility",
        "description": "Make a generated media item public or private. Discounted public items are locked for 20 days.",
        "operationId": "togglePublic",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["generated_media_item_id", "is_public"],
                "properties": {
                  "generated_media_item_id": { "type": "string", "format": "uuid" },
                  "is_public": { "type": "boolean" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Visibility updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "string" },
                        "is_public": { "type": "boolean" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/clone-url": {
      "post": {
        "tags": ["Generation"],
        "summary": "Clone from Instagram URL",
        "description": "Fetch a single Instagram post by URL and generate AI content from it in one step.",
        "operationId": "cloneUrl",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["url", "persona_id"],
                "properties": {
                  "url": { "type": "string", "description": "Instagram post/reel/TV URL" },
                  "persona_id": { "type": "string", "format": "uuid" }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Clone started",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "generated_post_id": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/generate/regenerate-post": {
      "post": {
        "tags": ["Generation"],
        "summary": "Regenerate post",
        "description": "Regenerate a generated post. By default, soft-deletes all existing media items and re-triggers generation from scratch. When `failed_only` is true, retries only failed media items without touching completed ones or the caption.",
        "operationId": "regeneratePost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["generated_post_id"],
                "properties": {
                  "generated_post_id": { "type": "string", "format": "uuid" },
                  "failed_only": {
                    "type": "boolean",
                    "default": false,
                    "description": "When true, retry only failed media items instead of regenerating the entire post."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Regeneration started. When `failed_only` is true, the response includes `retried_items` and `total_cost_cents`.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "description": "Full regeneration response",
                      "properties": {
                        "status": { "type": "string" },
                        "generated_post_id": { "type": "string" }
                      }
                    },
                    {
                      "type": "object",
                      "description": "Failed-only retry response",
                      "properties": {
                        "status": { "type": "string" },
                        "generated_post_id": { "type": "string" },
                        "retried_items": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "original_item_id": { "type": "string", "format": "uuid" },
                              "new_item_id": { "type": "string", "format": "uuid" },
                              "media_type": { "type": "string", "enum": ["image", "video"] },
                              "status": { "type": "string", "enum": ["pending"] }
                            }
                          }
                        },
                        "total_cost_cents": { "type": "integer" }
                      }
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "No failed items to retry (only returned when `failed_only` is true)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/generated-posts/{post_id}": {
      "get": {
        "tags": ["Content"],
        "summary": "Get generated post",
        "description": "Get a generated post with all its media items. Use for polling generation status. Soft-deleted posts are excluded.",
        "operationId": "getGeneratedPost",
        "parameters": [
          { "name": "post_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Generated post with media items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "data": { "$ref": "#/components/schemas/GeneratedPost" } }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Content"],
        "summary": "Delete generated post",
        "description": "Soft-delete a generated post and all its media items. The source post can then be re-cloned. R2 files are cleaned up asynchronously.",
        "operationId": "deleteGeneratedPost",
        "parameters": [
          { "name": "post_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Post deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "id": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/generated-media-items/{item_id}": {
      "get": {
        "tags": ["Content"],
        "summary": "Get generated media item",
        "description": "Get a single generated media item. Use for polling item-level status. Soft-deleted items are excluded.",
        "operationId": "getGeneratedMediaItem",
        "parameters": [
          { "name": "item_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Generated media item",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "data": { "$ref": "#/components/schemas/GeneratedMediaItem" } }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": ["Content"],
        "summary": "Delete generated media item",
        "description": "Soft-delete a single generated media item. R2 files are cleaned up asynchronously.",
        "operationId": "deleteGeneratedMediaItem",
        "parameters": [
          { "name": "item_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Item deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "id": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/personas/{persona_id}/source-posts": {
      "get": {
        "tags": ["Content"],
        "summary": "List source posts",
        "description": "List synced source posts from a persona's tracked creators.",
        "operationId": "listSourcePosts",
        "parameters": [
          { "name": "persona_id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/offset" }
        ],
        "responses": {
          "200": {
            "description": "List of source posts with media items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "array", "items": { "type": "object" } },
                    "count": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/personas/{persona_id}/generated-posts": {
      "get": {
        "tags": ["Content"],
        "summary": "List generated posts",
        "description": "List generated posts for a persona with their media items.",
        "operationId": "listGeneratedPosts",
        "parameters": [
          { "name": "persona_id", "in": "path", "required": true, "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/offset" }
        ],
        "responses": {
          "200": {
            "description": "List of generated posts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/GeneratedPost" } },
                    "count": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/billing/balance": {
      "get": {
        "tags": ["Billing"],
        "summary": "Get balance",
        "operationId": "getBalance",
        "responses": {
          "200": {
            "description": "Current balance and auto-reload settings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": { "data": { "$ref": "#/components/schemas/Balance" } }
                }
              }
            }
          }
        }
      }
    },
    "/v1/billing/transactions": {
      "get": {
        "tags": ["Billing"],
        "summary": "List transactions",
        "operationId": "listTransactions",
        "parameters": [
          { "$ref": "#/components/parameters/limit" },
          { "$ref": "#/components/parameters/offset" }
        ],
        "responses": {
          "200": {
            "description": "Transaction history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": { "type": "array", "items": { "$ref": "#/components/schemas/Transaction" } },
                    "count": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/uploads": {
      "post": {
        "tags": ["Uploads"],
        "summary": "Upload file",
        "description": "Upload an avatar image or voice sample. Supports multipart/form-data or JSON with a URL to fetch from. Automatically updates the persona's `avatar_url` or `voice_sample_url` field.",
        "operationId": "upload",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["file", "category", "persona_id"],
                "properties": {
                  "file": { "type": "string", "format": "binary" },
                  "category": { "type": "string", "enum": ["avatar", "voice"] },
                  "persona_id": { "type": "string", "format": "uuid" }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["url", "category", "persona_id"],
                "properties": {
                  "url": { "type": "string", "description": "URL to fetch file from" },
                  "category": { "type": "string", "enum": ["avatar", "voice"] },
                  "persona_id": { "type": "string", "format": "uuid" }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "File uploaded and processed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "key": { "type": "string", "description": "R2 storage key" },
                        "url": { "type": "string", "description": "Public URL" },
                        "category": { "type": "string", "enum": ["avatar", "voice"], "description": "Upload category" },
                        "persona_id": { "type": "string", "format": "uuid", "description": "Persona that was updated" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
